*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mynav{
  width: 100%;
  height: 80px;
  display: inline-block;
}
.mynav h1{
  color: #808080;
  font-size: 40px;
  font-weight: 600;
    display: inline-block;
  text-align: center;
}
.carousel img{
  width: 100%;
}

.sec_1 h1{
  text-align: center;
  margin: 30px 0;
}
.sec_1 li{
  display: inline;
  margin: 150px;
}
.list{
  width: 100%; height: 200px;
  overflow-x: scroll;
  white-space: nowrap;
}
.sec_2 h1{
  text-align: center;
  margin: 30px 0;
}
.sec_2 li{
  display: inline;
  margin: 150px;
}
.sec_3 h1{
  text-align: center;
  margin: 30px 0;
}
.sec_3 li{
  display: inline;
  margin: 150px;
}
.detail h1{
  text-align: center;
  padding:  20px 50px 20px 50px;
}
.detail h2{
  padding: 20px;
}
.detail img{
  width: 70%;
  height: 50%;
  margin: 20px 0 20px 0;
}
.tbl{
  padding: 20px;
}
.mytable{
  width: 100%;
  text-align: center;
}
.mytable tr{
  margin: 50px;
  border-bottom: 2px solid #808080;
}
.detail h3{
  padding: 20px;
}
.detail p{
  padding: 20px;
}
#myBtn {
  background: #808080;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 99;
  font-size: 30px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 100%;
}
